body{
    padding: 3em 0;
    background: #F3F5FC;
    width: 90%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.logo {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 5em;
}
.input-padrao {
    position: absolute;
    resize: none;
    outline: none;
    width: 50%;
    height: 60%;
    left: 12%;
    top: 15%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 70%;
    color: #0A3871;

    border: none;

    background: #F3F5FC;
}
.input-padrao::placeholder{
    color: #0A3871;
}
.aviso {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    font-size: 12.5px;
    top: 78.5%;
    left: 11%;
}
.atn {
    margin-left: 2.5px;
}
.btm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5%;

    position: absolute;
    width: 50%;
    height: 15%;
    left: 12%;
    top: 85%;

}
.crip {
    box-sizing: border-box;
    width: 50%;
    height: 67px;
    
    background: #0A3871;
    border-radius: 24px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
}
.des {
    box-sizing: border-box;
    width: 50%;
    height: 67px;
    
    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #0A3871;

    cursor: pointer;
}
.l {
    position: absolute;
    right: 7.5%;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 20%;
    height: 80%;
    overflow: hidden
}
.white-image {
    filter: opacity(100);
  }
.txtlt {
    position: relative;
    border-radius: 32px;
    border: none;
    resize: none;
    outline: none;
    background-color: #FFFFFF;
    align-self: center;
    padding: 10%;
    padding-right: 25%;
    padding-bottom: 15%;
    width: 90%;
    height: 100%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    cursor: default;
}
.copiar {
    box-sizing: border-box;
    align-items: center;

    position: absolute;
    width: 60%;
    height: 10%;
    left: 20%;
    top: 87.5%;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;

    color: #0A3871;

    cursor: pointer;
}
.logos {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 7.5%;
    width: 20%;
    height: 10%;
    bottom: 3%;

    font-size: 12.5px;
}
.lista {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 2%;
    gap: 3%;
}

@media screen and (max-width: 780px){
    body, .txtlt, .input-padrao, .btm, .l{
        width: auto;
    }
    .input-padrao {
        width: auto;
        height: auto;
        position: static;
        left: auto;
        top: auto;
        padding: 2% 4%;

        font-size: 16px;
        line-height: 1.5;
    }
    .txtlt {
        width: auto;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: medium
    }
    .btm {
        margin-top: 20px;
    }

    .crip, .des {
        width: auto;
        height: auto;
        margin: 10px 0;
    }
    .aviso {
        margin-left: 0;
        padding: 2% 4%;
        font-size: small;
    }

    .copiar {
        margin-bottom: 20px;
        margin-left: 0;
    }
}
